.loader {
  position: absolute;
  top: 0;
  left: 35%;
  width: 100px;
  height: 100px;
  display: grid;
  z-index: 9999;
  animation: s4 4s infinite;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border: 16px solid;
  border-radius: 50%;
  border-color: #766df4 #766df4 #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.loader::after {
  border-color: #0000 #0000 #e4e4ed #e4e4ed;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
