.singleProductsWrapper {
  width: 80%;
}

.productContainer {
  display: flex;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
}

.productDetailContainer {
  width: calc(100% - 300px);
  padding-left: 5rem;
}

.addButton {
  padding: 0.5rem 1.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}
