.navContainer {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.navbar {
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-column-gap: 30px;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.searchForm {
  position: relative;
  display: grid;
  grid-template-areas:
    "searchInput searchButton"
    "filteredResults filteredResults";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 6px 12px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 6px 12px;
}

.searchInput {
  grid-area: searchInput;
}

.searchButton {
  grid-area: searchButton;
}

.filteredResults {
  position: absolute;
  grid-area: filteredResults;
  background-color: #f5f5f5;
  width: calc(100% + 24px);
  left: -12px; 
  padding: 6px 12px;
  z-index: 9999;
  cursor: pointer;
}

.filteredResults li{
  padding: 5px 0px;
  font-size: 1.3rem;
}

.filteredResults li:hover{
  font-weight: 600;
}

.searchInput {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  margin-left: 5px;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border: none;
  background-color: transparent;
  color: #333333;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.searchButton svg {
  font-size: 1.8rem;
}

.searchButton:hover {
  color: #808080;
}

/* Telefon */
@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
  }

  .searchForm {
    display: grid;
    grid-auto-flow: column;
    grid-row: 2;
    grid-column: span 2;
    margin-top: .5rem;
  }
}

/* Telefon */
@media (max-width: 450px) {
  .navbar {
    padding: 10px 10px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  overflow: auto;
  margin-top: 10px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}
.categoriesBtn {
  flex-grow: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  min-width: fit-content;
}

.categoriesBtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #555555;
  transition: all 0.3s ease;
}

.categoriesBtn:hover::after {
  width: 100%;
}

.categoriesBtn.active::after {
  width: 100%;
}

.categories::-webkit-scrollbar {
  height: 5px;
}

.categories::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.categories::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.categoriesBtn a {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .categoriesBtn {
    padding: 15px 10px;
  }

  .categoriesBtn:hover::after {
    width: 0;
  }

  .categoriesBtn.active::after {
    width: 0;
  }
}
