.cartWrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem 0;
}

.imageContainer {
  position: relative;
  width: 50px;
  height: 70px;
  display: flex;
  align-items: center;
}

.orderTitle {
  font-size: 1.2rem;
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 7rem;
}

.quantity {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 2rem;
}

.quantityWrapper svg {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}
