* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


main{
  width: 100%;
  display: flex;
  justify-content: center;
}