.order {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  padding: 1rem;
  border: 1px solid #9db2bf;
  border-radius: 5px;
  margin: 1rem 0;
}

.detailContainer {
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  border-bottom: 1px solid #9db2bf;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.orderCard {
  display: grid;
  grid-template-columns: 7fr 2fr 1fr;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #9db2bf;
}

.orderCard:last-child {
  border-bottom: none;
}

.imageContainer {
  position: relative;
  width: 60px;
  height: 80px;
  display: flex;
  align-items: center;
}

.orderTitle {
  font-size: 1.5rem;
  font-weight: normal;
  width: fit-content;
}

.orderQuantity {
  font-size: 1.4rem;
  white-space: nowrap;
}

.date b {
  font-weight: 600;
}

.date,
.date b {
  font-size: 1.6rem;
}

.orderDetailButton {
  width: 10rem;
  height: 3rem;
  background-color: #dde6ed;

  border: 1px solid #9db2bf;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.orderDetailButton:hover {
  background-color: #9db2bf;
}
